
@{
    ViewData["title"] = "User List";
}
<a asp-action="Create" asp-controller="User">Add User</a>
<h4>List-User</h4>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">UserName</th>
            <th scope="col">Email</th>
            <th scope="col">PasswordHash</th>
            <th scope="col">Phone</th>
            <th scope="col">Role</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var usersWithRoles in Model)
        {
            <tr>
                <th scope="row">@usersWithRoles.User.Id</th>
                <td>@usersWithRoles.User.UserName</td>
                <td>@usersWithRoles.User.Email</td>
                <td>@usersWithRoles.User.PasswordHash</td>
                <td>@usersWithRoles.User.PhoneNumber</td>
                <td>
                    @usersWithRoles.RoleName
                </td>
                <td>
                    <a asp-action="Edit" class="btn btn-primary btn-sm" asp-controller="User" asp-route-Id="@usersWithRoles.User.Id">Edit</a>
                    <a asp-action="Delete" class="btn btn-danger btn-sm" id="confirmDeletion" asp-controller="User" asp-route-Id="@usersWithRoles.User.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>